In [4]:
import pandas as pd

In [10]:
test_df = pd.read_csv('./NORTHEAST+U.S._CARROTS_ALL.csv', parse_dates=True)

In [11]:
test_df

,Unnamed: 0,Date,Region,Class,Commodity,Variety,Organic,Environment,Unit,Number of Stores,Weighted Avg Price,Low Price,High Price,% Marked Local
0,0,01/04/2019,NORTHEAST U.S.,VEGETABLES,CARROTS,NaN,NaN,NaN,1 lb bag,82.0,0.66,0.59,0.89,NaN
1,1,01/04/2019,NORTHEAST U.S.,VEGETABLES,CARROTS,NaN,NaN,NaN,2 lb bag,276.0,1.46,0.99,1.50,NaN
2,2,01/04/2019,NORTHEAST U.S.,VEGETABLES,CARROTS,NaN,NaN,NaN,per bunch,7.0,0.99,0.99,0.99,NaN
3,3,01/04/2019,NORTHEAST U.S.,VEGETABLES,CARROTS,NaN,NaN,NaN,per pound,2.0,0.48,0.48,0.48,NaN
4,4,01/04/2019,NORTHEAST U.S.,VEGETABLES,CARROTS,NaN,Y,NaN,1 lb bag,28.0,1.50,1.50,1.50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,798,12/18/2020,NORTHEAST U.S.,VEGETABLES,CARROTS,NaN,Y,NaN,per bunch,28.0,2.50,2.50,2.50,NaN
799,799,12/18/2020,NORTHEAST U.S.,VEGETABLES,CARROTS,BABY PEELED,NaN,NaN,1 lb bag,684.0,1.21,0.88,1.50,NaN
800,800,12/18/2020,NORTHEAST U.S.,VEGETABLES,CARROTS,BABY PEELED,NaN,NaN,2 lb bag,504.0,2.11,1.89,3.00,NaN
801,801,12/18/2020,NORTHEAST U.S.,VEGETABLES,CARROTS,BABY PEELED,Y,NaN,1 lb bag,323.0,2.39,1.88,2.50,NaN
802,802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN